/*
Theme Name: Illinois Prairie Path
Description: Custom styles for Illinois Prairie Path
Version: 1.0
Author: Brian Pohl
Author URI: http://www.invexdesign.com
*/

@charset "utf-8";
/* CSS Document */

/* ----- Presets ----- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* ----- Floats ----- */
.alignright { float:right; margin:0 0 10px 25px; padding:0; }
.alignleft { float:left; margin:0 25px 10px 0; padding:0; }
.aligncenter { text-align:center; }

/* ----- IPP ----- */
body {
	margin: 0;
	padding: 0;
	text-align: center;
}
#home {
	background: url(/images/home-bg.gif) repeat-x #d4e2cb; 
}
#page {
	background: url(/images/site-bg.gif) repeat-x #d4e2cb; 
}
.container {
	width: 900px;
	margin: 0 auto;
	text-align: left;
}
.masthead {
	width: 900px;
	height: 148px;
}
.logo {
	float: left;
	display: block;
	height: 107px;
	margin-top: 20px;
	padding-left: 180px;
	background: url(/images/IPP-Anniversary-Logo.jpg) no-repeat;
}
.logo h1 {
	display: block;
	width: 301px;
	height: 19px;
	text-indent: -9999px;
	background: url(/images/masthead-ipp-heading.png) no-repeat;
	margin-top: 25px;
}
.logo h2 {
	display: block;
	width: 514px;
	height: 15px;
	text-indent: -9999px;
	background: url(/images/masthead-ipp-tagline.png) no-repeat;
	margin-top: 16px;
	text-indent: -9999px;
}
.logo h3 {
	display: block;
	width: 453px;
	height: 14px;
	text-indent: -9999px;
	background: url(/images/masthead-ipp-disclaimer.png) no-repeat;
	margin-top: 2px;
}
.social {
	float: right;
	display: block;
	margin-top: 20px;
}
.social ul {
	list-style: none;
	display: inline;
	float: left;
	width: 116px;
	height: 32px;
}
.social ul li {
	list-item-style: none;
	text-indent: -9999px;
	float: left;
}

.social ul li a {
	display: block;
}

.social ul li#twitter, .social ul li#facebook {
	margin-right: 10px;
}

.social ul li#twitter a {
	width: 32px; height: 32px; 
	background: url(/images/ico-twitter.png) no-repeat;
}

.social ul li#facebook a {
	width: 32px; height: 32px; 
	background: url(/images/ico-facebook.png) no-repeat;
}

.social ul li#flickr a {
	width: 32px; height: 32px; 
	background: url(/images/ico-flickr.png) no-repeat;
}
a.gmaps:link, a.gmaps:visited {
	display:block;
	float:right;
	margin:35px 0 0 0;
	padding:4px 0 0 50px;
	height:36px;
	min-height:36px;
	background:url(/images/google_maps_icon.png) no-repeat top left;
	font-size:13px;
	line-height:17px;
	color:#023201;
	font-weight:bold;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}
a.gmaps:hover, a.gmaps:active {
	text-decoration:underline;
}
.navbar {
	width: 1000px;
	height: 40px; 
	padding: 0;
	overflow:visible;
	margin:0 0 0 -42px;
}

.navbar ul {
	list-style: none;
	display: inline;
}

.navbar ul li {
	list-item-style: none;
	text-indent: -9999px;
	float: left;
}

.navbar ul li a {
	display: block;
	background: url(/images/navbar_updated.png) no-repeat;
}

.navbar ul li#nb1 a {
	width: 34px; height: 40px; 
	background-position: 0px 0px;
}

.navbar ul li#nb1 a:hover {
	background-position: -0px -40px;
}

.navbar ul li#nb2 a {
	width: 144px; height: 40px; 
	background-position: -34px 0px;
}
.navbar ul li#nb2 a:hover {
	background-position: -34px -40px;
}

.navbar ul li#nb3 a {
	width: 103px; height: 40px; 
	background-position: -178px 0px;
}

.navbar ul li#nb3 a:hover {
	background-position: -178px -40px;
}

.navbar ul li#nb4 a {
	width: 142px; height: 40px; 
	background-position: -281px 0px;
}

.navbar ul li#nb4 a:hover {
	background-position: -281px -40px;
}

.navbar ul li#nb5 a {
	width: 144px; height: 40px; 
	background-position: -422px 0px;
}

.navbar ul li#nb5 a:hover {
	background-position: -422px -40px;
}

.navbar ul li#nb6 a {
	width: 112px; height: 40px; 
	background-position: -566px 0px;
}

.navbar ul li#nb6 a:hover {
	background-position: -566px -40px;
}

.navbar ul li#nb7 a {
	width: 61px; height: 40px; 
	background-position: -678px 0px;
}

.navbar ul li#nb7 a:hover {
	background-position: -678px -40px;
}

.navbar ul li#nb8 a {
	width: 160px; height: 40px; 
	background-position: -739px 0px;
}

.navbar ul li#nb8 a:hover {
	background-position: -739px -40px;
}

.navbar ul li#nb9 a {
	width: 86px; height: 40px; 
	background-position: -900px 0px;
}

.navbar ul li#nb9 a:hover {
	background-position: -900px -40px;
}

.pagemeat {
	width: 900px;
	background: #fff;
	background: url(/images/pagemeat-bg.png) repeat-x #fff;
}

.page:not(body) {
	padding: 30px;
	/*overflow: auto;*/
}

.page h2, .page h3, .page h4, .page h5, .page h6, .page p {
	padding-bottom: 15px;
}

.page h3, .page h4, .page h5, .page h6, .page p, .page td, .page li, .page span {
	font: 100% Helvetica, Arial, Sans-Serif;
	line-height: 28px;
}

.page h2 {
	font: 100% Georgia, Garamond, Serif;
	font-size: 1.5em;
	color: #030;
}

.page h3 {
	font-size: 1em;
	font-weight: bold;
	color: #030;
}

.page h4, .page h5, .page h6 {
	font-size: .9em;
	font-weight: bold;
	color: #030;
}

.page p, .page td, .page li, .page span {
	font-size: .9em;
	color: #333;
}

.page ul {
	margin: 0 0 0 15px;
	padding: 0 15px 15px 0;
}

.page ol {
	margin: 0 0 0 30px;
	padding: 0 15px 15px 0;
}

.page a, .page a:visited {
	color: #030;
}

.page a:hover, .page a:active {
	color: #060;
}

.footerbuttons {
	width: 900px;
	height: 140px;
	display: block;
	background: url(/images/footer-buttons-bg.png) no-repeat;
	border-bottom: 4px solid #8a9384;
}

.footerbuttons ul {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.footerbuttons ul li {
	list-item-style: none;
	display: inline;
	float: left;
	margin: 15px 0 0 15px;
}

.footerbuttons ul li a {
	display: block;
	text-indent: -9999px;
	border: 1px solid #fff;
}

.footerbuttons ul li a:hover {
	border: 1px solid #030;
}

.footerbuttons ul li#membership a {
	width: 204px; height: 108px;
	background: url(/images/footer-buttons-membership.png) no-repeat;
}

.footerbuttons ul li#gallery a {
	width: 204px; height: 108px;
	background: url(/images/footer-buttons-gallery.png) no-repeat;
}

.footerbuttons ul li#events a {
	width: 204px; height: 108px;
	background: url(/images/footer-buttons-events.png) no-repeat;
}

.footerbuttons ul li#construction a {
	width: 204px; height: 108px;
	background: url(/images/footer-buttons-construction.png) no-repeat;
}

.footer {
	width: 900px;
	display: block;
	margin: 15px 0 25px 0;
	padding: 0;
	overflow: auto;
}

.footer p#copyright {
	float: left;
	text-align: left;
}

.footer p#address {
	float: right;
	text-align: right;
}

.footer p {
	font: 100% Helvetica, Arial, Sans-Serif;
	font-size: .7em;
	font-weight: normal;
	line-height: 15px;
	color: #666;
	margin: 0;
	padding: 0;
}

.footer p a {
	color: #666;
}

.footer p a:hover {
	color: #030;
}
.scholarship-buttons {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}.scholarship-buttons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.scholarship-buttons:active {
	position:relative;
	top:1px;
}
.history-spritez{background:url("/images/history-spritez.png");width: 300px; height: 48px;background-position: 0px 0px;display:block;text-indent:-1000em;}
.history-spritez:hover{background:url("/images/history-spritez.png");width: 300px; height: 48px;background-position: 0px -48px;display:block;text-indent:-1000em;}
.history-spritez2{background:url("/images/history-spritez.png");width: 300px; height: 48px;background-position: 0px -96px;display:block;text-indent:-1000em;}
.history-spritez2:hover{background:url("/images/history-spritez.png");width: 300px; height: 48px;background-position: 0px -144px;display:block;text-indent:-1000em;}
.history1{background:url("/images/history-sprites.png");width: 300px; height: 48px;background-position: 0px 0px;display:block;}
.history1:hover{background:url("/images/history-sprites.png");width: 300px; height: 48px;background-position: 0px -48px;display:block;}

.history2{background:url("/images/history-sprites.png");width: 300px; height: 48px;background-position: 0px -96px;display:block;}
.history2:hover{background:url("/images/history-sprites.png");width: 300px; height: 48px;background-position: 0px -144px;display:block;}

.history3{background:url("/images/history-sprites.png");width: 300px; height: 48px;background-position: 0px -192px;display:block;}
.history3:hover{background:url("/images/history-sprites.png");width: 300px; height: 48px;background-position: 0px -240px;display:block;}

.history4{background:url("/images/history-sprites.png");width: 300px; height: 48px;background-position: 0px -288px;display:block;}
.history4:hover{background:url("/images/history-sprites.png");width: 300px; height: 48px;background-position: 0px -336px;display:block;}
.history5{background:url("/images/naperville-event.png");width: 300px; height: 48px;background-position: 0px 0px;display:block;}
.history5:hover{background:url("/images/naperville-event.png");width: 300px; height: 48px;background-position: 0px -48px;display:block;}
li#scholarship{margin-bottom:20px;list-style:none !important;}

/* ----- Pages ----- */
.photo {
	display: block;
}

#left {
	float: left;
	margin: 0 10px 10px 0;
}

#right {
	float: right;
	margin: 0 0 10px 10px;
}

.forms {
	padding: 30px;
	padding-top: 0;
	overflow: auto;
}

.forms h2, .forms h3, .forms h4, .forms h5, .forms h6, .forms p {
	padding-bottom: 15px;
}

.forms h3, .forms h4, .forms h5, .forms h6, .forms p, .forms td, .forms li, .forms span, .labels {
	font: 100% Helvetica, Arial, Sans-Serif;
	line-height: 28px;
}

.forms h2 {
	font: 100% Georgia, Garamond, Serif;
	font-size: 1.5em;
	color: #030;
}

.forms h3 {
	letter-spacing: -1px;
	font-size: 1.3em;
	font-weight: normal;
	color: #030;
	background: url(/images/div-dash.gif) 0 30px repeat-x;
	width: 100%;
}

.forms h4 {
	font-size: 1.1em;
	font-weight: bold;
	color: #030;
}

.forms h4, .forms h5, .forms h6 {
	font-size: .9em;
	font-weight: bold;
	color: #030;
}

.forms p, .forms td, .forms li, .forms span, .labels {
	font-size: .9em;
	color: #333;
	line-height: 20px;
}

.forms input, .forms select {
	font-size: .9em;
	color: #333;
}

.forms ul {
	margin: 0 0 0 15px;
	padding: 0 15px 15px 0;
}

.forms ol {
	margin: 0 0 0 30px;
	padding: 0 15px 15px 0;
}

.forms a, .forms a:visited {
	color: #030;
}

.forms a:hover, .forms a:active {
	color: #060;
}

#leftcolumn {
	float: left; 
	width: 510px;
	text-align: left;
}

#rightcolumn {
	float: right; 
	width: 300px;
	text-align: left;
}

.labels {overflow: auto; margin: 0; padding: 0;}
#wrpr165 {float: left; width: 165px; padding: 0 10px 0 0;}
#wrpr320 {float: left; width: 320px;}
#fw115 {float: left; width: 115px; padding: 0 10px 5px 0;}
#fw155 {float: left; width: 155px; padding: 0 10px 5px 0;}
#fw240 {float: left; width: 240px; padding: 0 10px 5px 0;}
#fw163 {float: left; width: 163px; padding: 0 0 5px 0; margin: 0 0 10px 0;}
#fw318 {float: left; width: 318px; height: 123px; padding: 0 0 5px 0;}

#button {
	width: 494px;
	text-align: right;
	margin-top: 10px;
}

#button button {
	background: #030;
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	width: 130px;
	height: 36px;
	font: 100% Helvetica, Arial, Sans-Serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
}

.field {
	background: #fff;
	border: 1px solid #ccc;
}

#fw238 {width: 238px;}
#fw114 {width: 114px;}
#fw490 {width: 490px;}

#rightcolumn dl, #rightcolumn dt #rightcolumn dd {
	font: 100% Helvetica, Arial, Sans-Serif;
	font-size: .9em;
	color: #333;
	line-height: 20px;
}

#rightcolumn dl {
	overflow: auto;
	margin: 0 0 10px 0;
	padding: 0;
}

#rightcolumn dt {
	float: left;
	width: 90px;
	margin: 0 0 5px 0;
	padding: 0;
}

#rightcolumn dd {
	float: right;
	width: 200px;
	margin: 0;
	padding: 0;
}

#donate {
	width: 500px;
	overflow: auto;
}

#donate label {
	display: block;
	float: left;
	width: 170px;
	margin: 0;
	padding: 0 10px 5px 0;
}

#donate input {
	float: left;
	width: 308px;
	margin: 0 0 12px 0;
	padding: 2px;
}

/* ----- Home Page ----- */
.content {
	float: left;
	width: 500px;
}

.column {
	float: right;
	width: 300px;
}

.column ul {
	list-style: none;
	display: block;
	margin: 10px 0 0 0;
}

.column ul li {
	list-item-style: none;
	text-indent: -9999px;
	margin: 0 0 10px 0;
}

.column ul li a {
	display: block;
	background: url(/images/cta-buttons.png) no-repeat;
}

.column ul li#join a {
	width: 300px; height: 48px; 
	background-position: 0px 0px;
}

.column ul li#join a:hover {
	background-position: -0px -48px;
}

.column ul li#donate a {
	width: 300px; height: 48px; 
	background-position: 0px -96px;
}

.column ul li#donate a:hover {
	background-position: -0px -144px;
}

.column ul li#contact a {
	width: 300px; height: 48px; 
	background-position: 0px -192px;
}

.column ul li#contact a:hover {
	background-position: -0px -240px;
}
.column ul li#scholarship a {
	width: 300px; height: 48px; 
	background-position: 0px -288px;
}

.column ul li#scholarship a:hover {
	background-position: -0px -336px;
}

#newsletters { overflow: auto; clear: both;	}
	.newsletterlist {float: left; width: 24%; }
	
/* ----- Features ----- */
.feature { display: block; overflow: hidden; width: 900px; height: 300px; background: url(/images/feature-bg.jpg) no-repeat; }

	.feature #earthday, .feature #history, .feature #membership, .feature #new_feature { position: relative; width: 900px; height: 300px; }

	.feature .photos, .feature .panel { position: absolute; }

	.feature .panel H2, .feature .panel H3 { display: block; text-indent: -9999px; line-height: 0;  margin: 0; }

	.feature .panel H2 { padding: 0 0 20px 0;height: 42px; } .feature .panel H3 { padding: 0 0 15px 0;height: 38px; }

	.feature p { padding: 0 0 25px 0; margin: 0; font: 100% arial, helvetica, sans-serif; font-size: .9em; color: #ffffff; }

	.feature .panel .button { text-align: left; text-decoration: none; font-weight: bold; color: #ffffff; padding: 10px 35px 10px 15px; margin: 0; background: url(/images/feature-button-arrow.png) no-repeat 100% 50% #bf3900; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: #000 0px 0px 5px; -moz-box-shadow: #000 0px 0px 5px; box-shadow: #000 0px 0px 5px; behavior: url(PIE.htc); }



	.feature #earthday .photos { left: 0; top: 0; }

	.feature #earthday .panel { right: 0; top: 50px; width: 485px; }

	.feature #earthday .panel h2 { width: 328px; background: url(/images/feature-earthday-heading.png) no-repeat; }

	.feature #earthday .panel h3 { width: 442px; background: url(/images/feature-earthday-intro.png) no-repeat; }

	.feature #earthday .panel p { line-height: normal; }

	

	.feature #history .photos { right: 0; top: 0; }

	.feature #history .panel { left: 30px; top: 20px; width: 465px; }

	.feature #history .panel h2 { width: 292px; background: url(/images/feature-history-heading.png) no-repeat; }

	.feature #history .panel h3 { width: 457px; background: url(/images/feature-history-intro.png) no-repeat; }

	.feature #history .panel p { line-height: 20px; }



	.feature #membership .photos { right: 0; top: 0; }

	.feature #membership .panel { left: 30px; top: 20px; width: 450px; }

	.feature #membership .panel h2 { width: 367px; background: url(/images/feature-membership-heading.png) no-repeat; }

	.feature #membership .panel h3 { width: 409px; background: url(/images/feature-membership-intro.png) no-repeat; }

	.feature #membership .panel p { line-height: 20px; }
	
/* ----- Events ----- */
.event {
	width: 840px;
	display: block;
	overflow: hidden;
	background: url(/images/event-div.png) bottom left repeat-x;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#eventpic {
	display: block;
	float: left;
	width: 165px;
	height: 95px;
	padding: 5px;
	margin-right: 15px;
	background: url(/images/event-wrapper.png) top left;
}

#eventdetail {
	display: block;
	float: left;
	width: 625px;
}

#eventdetail h4, #eventdetail p {
	padding-bottom: 0;
}

/* ----- Clearer Div ----- */
div.clearer { clear:both; height:1px; }
