.photo img {
    max-width: 100%;
    height: auto;
}

.footer {
    background: #568736 !important;
    color: white !important;
    padding: 15px 0 25px 0 !important;
    margin: 0 !important;
}

.footer * {
    color: white !important;
}

.footer p {
    padding: 0 20px;
}
