#powered_by_break {
    display: none;
}

.responsive-header {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*.responsive-header > * {*/
    /*margin: 10px 0 !important;*/
/*}*/


.responsive-header .responsive-logo {
    margin-top: 10px;
}

.responsive-header .social {
    margin-top: 6px;
}

.responsive-header a.responsive-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsive-header a.gmaps:link,
.responsive-header a.gmaps:visited {
    margin: 10px 0 7px 0;
}

#home .responsive-header a.gmaps:link,
#home .responsive-header a.gmaps:visited {
    color: white;
}

.responsive-header h1 {
    display: block;
    width: 301px;
    height: 19px;
    text-indent: -9999px;
    background: url(../images/masthead-ipp-heading.png) no-repeat;
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    #powered_by_break {
        display: block;
    }

    #responsive_menu {
        display: block !important;
    }
    .responsive-header {
        display: flex !important;
    }
    .container {
        width: 100%;
    }

    .feature {
        width: 100%;
        height: auto;
        background: none;
        overflow: initial;
    }
    .feature > a {
        display: block;
        max-width: 100%;
    }
    .feature > a > img {
        max-width: 100%;
    }

    .pagemeat {
        width: 100%;
    }
    .pagemeat:not(.map) * {
        float: none !important;
        width: auto !important;
        max-width: 100%;
    }

    .pagemeat .content {
        float: none;
        width: 100%;
    }
    .pagemeat .column {
        float: none;
        width: 100%;
    }

    .branch-table {
        flex-direction: column;
        align-items: center;
    }
    .branch-table .col {
        padding-right: 0 !important;
        min-width: 225px;
    }
    .branch-table #blank_h4 {
        display: none;
    }
    .photo.right {
        float: none !important;
    }

    .container .masthead {
        display: none;
    }
    .container .navbar {
        display: none;
    }
    #donate {
        width: 300px;
    }
    .footerbuttons {
        width: 100%;
        height: auto;
        background: none;
    }
    .footerbuttons ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footerbuttons ul li {
        display: block;
        float: none;
        margin-bottom: 10px;
    }
    .footer {
        width: 100%;
    }
    .footer p {
        float: none !important;
        margin: 0 20px;
        text-align: center !important;
    }
}