
#responsive_menu {
    display: none;
}

.dl-menuwrapper {
    max-width: 100% !important;
    float: none !important;
}

.dl-menuwrapper button {
    background: #016700;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-indent: initial;
    border-radius: 5px;
    border: 2px solid #013a00;
    padding: 6px;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active, .dl-menuwrapper ul {
    background: #016700;
}

.dl-menuwrapper li a {
    text-decoration: none;
    transition: 300ms all linear;
}

.dl-menuwrapper button:after {
    content: none !important;
}

.dl-menuwrapper .dl-menu {
    margin: 0;
}

.dl-menuwrapper li > a:after {
    color: white;
}