body.memberships-archive .product .woocommerce-Tabs-panel .woocommerce-product-gallery {
    display: none;
}
body.memberships-archive .product .woocommerce-Tabs-panel .entry-summary {
    display: none;
}
body.memberships-archive .page > .product > .woocommerce-tabs.wc-tabs-wrapper > ul.tabs.wc-tabs {
    display: none;
}
body.memberships-archive .page > .product > .woocommerce-tabs.wc-tabs-wrapper > .woocommerce-Tabs-panel > h2 {
    display: none;
}

body.memberships-archive .woocommerce ul.products {
    display: flex;
    flex-direction: column;
}
body.memberships-archive .woocommerce ul.products li.product.product_cat-memberships {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: none;
    width: auto;
    margin: 5px 0;
    padding: 10px 20px;
    background: #eee;
}
body.memberships-archive .woocommerce ul.products li.product.product_cat-memberships a.woocommerce-LoopProduct-link {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
body.memberships-archive .woocommerce ul.products li.product.product_cat-memberships a.woocommerce-LoopProduct-link img {
    display: none;
}
body.memberships-archive .woocommerce ul.products li.product.product_cat-memberships a.woocommerce-LoopProduct-link .woocommerce-loop-product__title {
    margin: 0;
    padding: 0;
    font-size: 25px;
}
body.memberships-archive .woocommerce ul.products li.product.product_cat-memberships a.woocommerce-LoopProduct-link .price {
    margin: 0 20px;
    padding: 0;
    font-size: 20px;
}
body.memberships-archive .woocommerce ul.products li.product.product_cat-memberships a.add_to_cart_button {
    margin: 0;
    color: white;
    background-color: #136735;
}

/* GET INVOLVED */
.page-template-template_get-involved ul.subscriptions {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.page-template-template_get-involved ul.subscriptions li.subscription a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;
    padding: 8px 10px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    background: #eee;
    text-decoration: none;
    opacity: 1;
    transition: 200ms all linear;
}
.page-template-template_get-involved ul.subscriptions li.subscription a:hover {
    opacity: 0.85;
    border-color: gold;
}
.page-template-template_get-involved ul.subscriptions li.subscription a .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}
.page-template-template_get-involved ul.subscriptions li.subscription a .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    line-height: 17px;
    margin: 0;
    margin-left: 5px;
}
.page-template-template_get-involved ul.subscriptions li.subscription a .price .woocommerce-Price-amount {
    margin-right: 5px;
}
.page-template-template_get-involved ul.subscriptions li.subscription a .button {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    text-align: center;
    font-size: 15px;
    line-height: 17px;
    /*text-transform: uppercase;*/
    font-weight: 700;
    color: white;
    background-color: #136735;
}